<form *ngIf="!isLoading && video">
  <div class="video-detail-item">
    <mat-label>Filename: </mat-label>
    <button
      mat-raised-button
      color="link"
      (click)="download(video.fileDirectory, video.filename)"
    >
      {{ video.filename }}
    </button>
  </div>
  <div class="video-detail-item">
    <mat-label>Duration: </mat-label>
    <span> {{ video.duration }} </span>
  </div>
  <div class="video-detail-item">
    <mat-label>Resolution: </mat-label>
    <span> {{ video.resolution }} </span>
  </div>
  <div class="video-detail-item">
    <mat-label>Size: </mat-label>
    <span> {{ video.size }} </span>
  </div>
  <div class="video-detail-item">
    <mat-label>Bitrate: </mat-label>
    <span> {{ video.bitRate }} </span>
  </div>
  <div class="video-detail-item">
    <mat-label>Codec: </mat-label>
    <span> {{ video.codecName }} </span>
  </div>
  <div class="video-detail-item">
    <mat-label>Status: </mat-label>
    <span> {{ video.status }} </span>
  </div>
  <div class="video-detail-item" *ngIf="video.thumbnails.length > 0">
    <mat-label>Thumbnails: </mat-label>
    <ul>
      <li *ngFor="let thumb of video.thumbnails">
        <button
          mat-raised-button
          color="link"
          (click)="download(thumb.fileDirectory, thumb.name)"
        >
          {{ thumb.name }}
        </button>
      </li>
    </ul>
  </div>
  <div class="video-detail-item" *ngIf="video.availableResolutions.length > 0">
    <mat-label>Available resolutions: </mat-label>
    <ul>
      <li *ngFor="let res of video.availableResolutions">
        <button
          mat-raised-button
          color="link"
          (click)="download(res.fileDirectory, res.filename)"
        >
          {{ res.filename }}
        </button>
      </li>
    </ul>
  </div>
  <div class="video-detail-item" *ngIf="video.hlsFiles.length > 0">
    <mat-label>Available resolutions: </mat-label>
    <ul>
      <li *ngFor="let hls of video.hlsFiles">
        <button
          mat-raised-button
          color="link"
          (click)="download(hls.fileDirectory, hls.filename)"
        >
          {{ hls.filename }}
        </button>
      </li>
    </ul>
  </div>
  <div class="video-detail-item">
    <mat-form-field appearance="fill">
      <mat-label>Select output resolution</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let format of formats" [value]="format.value">
          {{ format.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-card-actions>
    <button mat-raised-button [routerLink]="['/videos']">Back</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!selectedValue"
      (click)="convertToOutput()"
    >
      Convert to output
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!selectedValue"
      (click)="generateHLS()"
    >
      Generate HLS
    </button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!video"
      (click)="getThumbnails()"
    >
      Get Thumbnails
    </button>
  </div>
</form>

<div *ngIf="isLoading" id="center-display">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!video" id="center-display" class="error-message">
  <span>{{ error }}</span>
</div>
