<form>
  <div mat-card-actions *ngIf="!file">
    <button mat-raised-button color="primary" (click)="onClick()">
      <mat-icon>file_upload</mat-icon>
      Choose file
    </button>
    <input
      type="file"
      #fileInput
      name="fileUpload"
      accept="video/*"
      [hidden]="true"
    />
  </div>
  <br />
  <div mat-card-actions *ngIf="file">
    <button mat-mini-fab color="warn" (click)="deselectFile()">
      <mat-icon>delete</mat-icon>
    </button>
    <mat-label>
      {{ file.name }}
    </mat-label>
  </div>
  <br />
  <div mat-card-actions>
    <button mat-raised-button [routerLink]="['/videos']">Back</button>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!file"
      (click)="callVideoService()"
    >
      Upload
    </button>
  </div>
</form>
